<!--
<p-overlayPanel [appendTo]="here" styleClass="panel" #op #here>
    <ng-template pTemplate>
      <p-listbox [options]="odors" [(ngModel)]="odor" optionLabel="name" [style]="{'width':'15rem'}" (click)="getOdor($event, here)"></p-listbox>
    </ng-template>
</p-overlayPanel>
-->

<p-dialog positions="center" styleClass="panel" [modal]="true" [(visible)]="displayModal">
    <ng-template pTemplate>
      <p-listbox [options]="odors" [(ngModel)]="odor" optionLabel="name" [style]="{'width':'15rem'}" (click)="getOdorD()"></p-listbox>
    </ng-template>
</p-dialog>


<!--
    <button type="text" pButton label="Odor Panel" (click)="showModalDialog()"></button>
-->
  