<!--
<p-overlayPanel [appendTo]="there" styleClass="panel" #op #there>
    <ng-template pTemplate>
      <p-listbox [options]="strengths" [(ngModel)]="strength" optionLabel="name" [style]="{'width':'15rem'}" (click)="getStrength($event, there)"></p-listbox>
    </ng-template>
  </p-overlayPanel>
  
  <button type="text" pButton label="Strength Panel" (click)="op.toggle($event, there)"></button>
-->

<p-dialog positions="center" styleClass="panel" [modal]="true" [(visible)]="displayModal">
    <ng-template pTemplate>
      <p-listbox [options]="strengths" [(ngModel)]="strength" optionLabel="name" [style]="{'width':'15rem'}" (click)="getStrengthD()"></p-listbox>
    </ng-template>
</p-dialog>

