/* You can add global styles to this file, and also import other style files */
table
{
  margin-top: 0.5em;
  font-size: 1.4em;
  font-weight: normal;
}

label
{
  display:inline-block;
  margin-left: 20px;
  font-family: sans-serif;
}