.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.logo {
  vertical-align: top;
}

.small_button
{
  vertical-align: top;
  font-size: 2rem;
  font-weight: normal;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;

}
.small_button:hover {background-color: #3e8e41}
.small_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.runtime
{
  background-color: black;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 6.0em;
  padding: 0.1em;
  border-right-width:0;
  margin: auto;
  vertical-align: top;
}
